body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a3e635;
}
.link-header {
  color: #262626;
}
#check {
  display: none;
}
.checkbtn {
  display: none;
  color: #262626;
  padding: 1rem;
}
nav ul {
  display: flex;
  gap: 1.1em;
  padding: 1em;
}
ul {
  list-style: none;
  padding: 0px;
}
a {
  text-decoration: none;
}

nav ul {
  color: #262626;
}
header a i {
  color: #262626;
  padding: 0.5em;
  font-size: 3em;
}
h2,
h3,
p {
  margin: 0px;
}
.icono{
    width: 40px;
}
.titulo_seccion {
  position: relative;
  font-size: 40px;
  color: #003750;
  text-align: center;
  z-index: -1;
}
.form_contenedor{
    margin-top: 2em;
    margin-bottom: 2em;
}

.container {
  max-width: 40%; /* Define el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 1em; /* Agrega un poco de espacio alrededor del formulario */
  border: solid 1px black; /* Agrega un borde al contenedor */
  border-radius: 10px; /* Agrega bordes redondeados al contenedor */
}
.form-group {
  margin-bottom: 15px; /* Espacio entre cada input */
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  justify-content: center;
}
label {
  margin-bottom: 5px;

}
input[type="text"],
input[type="email"],
textarea {
  width:100%; /* Define el ancho máximo del input */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea {
  resize: vertical; /* Permite redimensionar verticalmente el textarea */
}
.button_container{
    text-align: center;
}
button {
  /* Coloca estilos a tu botón */
  padding: 1em;
  border-radius: 10px;
  border: none;
  width: 300px;
  cursor: pointer;
  background-color: #a3e635;
  font-weight: bold;
}
button:hover {
  background-color: #84bd2b;
}

footer {
  padding: 1em;
  background-color: #a3e635;
}
.fixed {
  position: fixed;
  bottom: 22px;
  right: 39px;
}
.corazon {
  color: red;
}

@media (max-width: 768px) {
  nav ul {
    position: fixed;
    width: 100%;
    background-color: #262626;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }
  #check:checked ~ ul {
    left: 0;
    display: block;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .link-header {
    color: white;
    font-size: 20px;
  }
  .container {
    max-width: 80%;
  }
  button{
    width: 100%;
  }


  .container-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .checkbtn {
    font-size: 25px;
    display: block;
    color: #262626;
    cursor: pointer;
  }
}
